.title { background-color: #1A4169; margin-bottom: 4px; border: 1px #000000 solid; width: 98%}

ul.mainmenu { background-color: #1A4D80; text-align: center; border: 1px #000000 solid; padding: 0; margin: 0 1% 4px 1%; background-color: #5986B3 }

.mainmenu li { display: inline; margin: 0 1px 1px 0; line-height: 1.5em; padding: 0; }

.mainmenu li a { display: inline; font-family: Arial, Helvetica, sans-serif; font-size: 12px; background-color: #5986B3; text-transform: uppercase; text-align: center; font-weight: bolder; padding: 2px 4px; margin: 1px 0 0 -4px; border: #F2E6E6 1px solid; white-space: nowrap }

.innertable td { font-size: 12px; font-family: Arial; color: #000000; background-color: #98C6F5; list-style-type: circle}

.announce { background-color: #DCDCDC; margin-bottom: 4px; border: 1px #000000 solid; width: 100%}

tr.tablehead td, td.tablehead { font-size: 12px; font-weight: bolder; color: #FFFFFF; background-color: #1A4D80; padding-top: 4px; padding-bottom: 4px; font-family: Arial, Helvetica, sans-serif; text-align: center}

td.category { font-size: 15px; font-family: "Times New Roman"; font-weight: bold; color: #000000; background-color: #4595E5; text-align: center; }

td.forumentry { font-size: 12px; font-family: Arial; font-weight: normal; color: #000000; background-color: #98C6F5; text-align: center; }

.copyright { font-size: 9px; font-family: Arial; color: #F2FFF9; background-color: #1A4066; text-align: center; width: 98%; border: 1px #000000 solid; padding-top: 4px; padding-bottom: 4px; margin: 0 1% 0 1%}

li {
	padding-bottom: 5px;
}

body { background-color: #808080 }

table { padding : 0; }

H1 { font-family: Arial; font-weight: bolder; color: #FFFF66; text-align: center; ; font-size: 20px; margin-top: 0px; margin-bottom: 0px}

H2 { font-size: 14px; font-family: Arial; color: #E3FCF0; text-align: right; margin-bottom: 0px }

H3 { font-size: 14px; font-family: Arial; text-align: left; margin-top: 0px; margin-bottom: 0px; font-weight : bold}

H4 { font-size: 12px; font-family: Arial; color: #000000; text-align: left; margin-top: 2px; margin-bottom: 0px; font-weight : normal; padding-bottom: 0px }

H5 { font-size: 14px; font-family: Arial; text-align: left; margin-top: 0px; margin-bottom: 0px; padding-top: 0px}

H6 { font-size: 12px; font-family: Arial, Helvetica, sans-serif; font-weight: bolder; color: #E3FCF0; margin-top: 0px; margin-bottom: 0px; padding-top: 0px}

.actions { font-size: 10px; font-family: Arial; font-weight: bold; text-align: left; list-style-type: circle;}

.locations {text-align: left; border: 1px #000000 solid; background-color: #1F5C99; width: 100%; margin-bottom: 4px}

.descr { font-size: 10px; font-family: Arial; color: #111111; }

.username { font-weight: bolder; color: #CC1F1F; }

.pages { font-weight: lighter; color: #333333; float: right }

.sort { font-size: 10px; font-family: Arial; color: #000000; text-align: right; background-position: right;}

td.topicentry { font-size: 12px; font-family: Arial; font-weight: normal; color: #000000; background-color: #98C6F5; text-align: center; }

td.postentry { font-size: 12px; font-family: Verdana; color: #111111; background-color: #98C6F5; text-align: justify; vertical-align: top }

td.postentry2 { font-size: 12px; font-family: Verdana; color: #111111; background-color: #98C6F5; text-align: justify; vertical-align: top }

td.first { }

.sign { font-size: 10px; font-family: Verdana; color: #404040;}

.modcomment { font-size: 10px; color: #F00000; }

.modlinks { font-size: 9px; font-family: Arial; color: #000033; text-align: right; border: #000033; border-style: dotted; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; }

.moderate { font-size: 9px; float: right }

blockquote {  font-size: 10px; font-weight: lighter; margin: 5px 0px 10px 20px; padding: 5px; border: #003399 1px dotted; border-left: #003399 4px solid; background: #E0E0FF; }

.usertable {  background-color: #B8D6F5; border: 1px #000000; font-family: Arial, Helvetica, sans-serif; font-size: 12px}

.offtopic { font-size: 10px; color: #333333; text-align: center}

code { display: block; font-family: "Courier New", Courier, mono; font-size: 10px; text-align: left; margin-left: 20px; border: #DCDCDC 3px solid; background: #E0E0FF }

.outertable {  background-color: #E5E5E5; border: #000 1px solid; padding: 10px; margin-left: 1%; margin-right: 1%}

.innertable {  background-color: #DCDCDC; border: 1px #1A4D80 solid; padding: 0px; border-spacing: 1px }
table.innertable { width: 100% }

.maintext { font-family: Arial, Helvetica, sans-serif; font-size: 12px; }

.hligh { font-weight: bold; color: #CC9933}

.postlinks { border-bottom:#93ADCA 1px solid; padding-bottom: 3px; margin-bottom: 3px; margin-right: 4px }

.postlinks2 { float: right; position: relative; margin-bottom: -1.6em; top: -1.6em; margin-right: 5px }

.online { font-weight: bold; font-size: 12px }

.posttable { border-collapse: separate; width: 100%; border: #1A4D80 1px solid; table-layout: fixed; background-color: #E5E5E5; border-spacing: 1px }

a.newpm, a.newpm:visited { text-decoration: blink; color: #DD0000; }

a.rules:link { font-size: 10px; font-family: Arial; color: #F01111; }
a.rules:visited { font-size: 10px; font-family: Arial; color: #F01111; }
a.rules:active { font-size: 10px; font-family: Arial; color: #F01111; }
a.rules:hover { font-size: 10px; font-family: Arial; color: #FF4455; }

a.inverse:link { color: #FFFF66; text-decoration: none; }
a.inverse:visited { color: #FFFF66; text-decoration: none; }
a.inverse:active { color: #FFFF66;  text-decoration: none; }
a.inverse:hover { color:#FFFF99; text-decoration: none;  }

.mainmenu a:link { color: #F2E6E6; text-decoration: none; }
.mainmenu a:visited { color: #F2E6E6; text-decoration: none; }
.mainmenu a:active { color: #F2E6E6; text-decoration: none; }
.mainmenu a:hover { color: #FFFFFF; text-decoration: none;  }

a:link { color: #cc0000; text-decoration: none; }
a:visited { color: #cc0000; text-decoration: none; }
a:active { color: #FFCC00;  text-decoration: none; }
a:hover { color:#FF4455; text-decoration: underline;  }

a.username:link { font-weight: bolder; color: #E52E2E; text-decoration: none; }
a.username:visited { font-weight: bolder; color: #CD2222; text-decoration: none; }
a.username:active { font-weight: bolder; color: #CD2222;  text-decoration: none; }
a.username:hover { font-weight: bolder; color: #CD4444; text-decoration: underline;  }

textarea { font-size: 12px; font-family: arial, verdana, geneva; border: #808080 1px solid; background-color: #DCDCDC; width:98%}
select { font-size: 10px; font-family: arial, verdana, geneva; border: #808080 1px solid; background-color: #DCDCDC}
input { font-family: arial, verdana, geneva; font-size: 12px; border: #808080 1px solid; background-color: #DCDCDC}
option { font-size: 10px; font-family: arial, verdana, geneva; border: #808080 1px solid; background-color: #DCDCDC}
.select { margin:0; padding:0; }

.photo_nav { overflow: auto; padding: 5px; vertical-align: center; text-align:center; white-space: nowrap; width: 96% }
.nav1 {  float: left; margin-right: 5px; margin-top: 2px }
.nav2 {  float: left; margin-right: 5px; border: #C00 2px solid }
.nav3 { float: left; margin-right: 5px; margin-top: 2px }

.calendar_hday { color: #800 }
a.calendar_hday { color: #C00 }
a.calendar_hday:visited { color: #A00 }
a.calendar { color: #1E90FF }
a.calendar:visited { #1280EE }

a.sb_new:link, 
a.sb_new:visited,
a.sb_new:active,
a.sb_new:hover {
	color: orange;
}

.server_error {
	border-left: 3px solid #f30;
	padding-left: 10px;
}